[DEFAULT]
transport_url = rabbit://openstack:{{rabbitmq_pass}}@{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}
auth_strategy = keystone

[keystone_authtoken]
www_authenticate_uri = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000
auth_url = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000
memcached_servers = {{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = neutron
password = {{ neutron_password }}

[oslo_concurrency]
lock_path = /var/lib/neutron/tmp