[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{ rabbitmq_pass }}@{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}
my_ip = {{ hostvars[inventory_hostname]['ansible_host'] }}
use_neutron = true
firewall_driver = nova.virt.firewall.NoopFirewallDriver
block_device_allocate_retries = 600
block_device_allocate_retries_interval = 10
block_device_creation_timeout = 300
instances_path=$state_path/instances
networks_path=$state_path/networks
state_path={{ nova_state_path }}
vif_plugging_is_fatal=false
vif_plugging_timeout=0


[libvrt]
nfs_mount_point_base=$state_path/mnt
quobyte_mount_point_base=$state_path/mnt
smbfs_mount_point_base=$state_path/mnt
vzstorage_mount_point_base=$state_path/mnt

[zvm]
image_tmp_path=$state_path/images

[api]
auth_strategy = keystone

[cinder]
os_region_name = RegionOne

[keystone_authtoken]
www_authenticate_uri = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000/
auth_url = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000/
memcached_servers = {{  hostvars[groups['controllers'][0]]['ansible_hostname']  }}:11211
auth_type = password
project_domain_name=Default
user_domain_name=Default
project_name=service
username=nova
password={{nova_password}}


[vnc]
vnc_enabled=true
enabled=true
server_listen= $my_ip
server_proxyclient_address=$my_ip
novncproxy_base_url=http://{{public_ip}}:{{public_port}}/vnc_auto.html
novncproxy_host={{public_ip}}
novncproxy_port={{public_port}}

[glance]
api_servers = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:9292

[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[placement]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000/v3
username = placement
password = {{placement_password}}

[neutron]
www_authenticate_uri = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000
auth_url = http://{{ hostvars[groups['controllers'][0]]['ansible_hostname'] }}:5000
memcached_servers = {{hostvars[groups['controllers'][0]]['ansible_hostname'] }}:11211
auth_type = password
project_domain_name = default
user_domain_name = default
project_name = service
username = neutron
password = {{neutron_password}}